<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style5.css') }}">
    <title>Editar Orígenes</title>
</head>
<body>
    <div class="login-box">
        <h1>Editar Orígenes</h1>
        <form action="{{ url_for('origenes.edit', id=origenes.id) }}" method="post">
            <div class="user-box">
                <input type="text" id="nombre" name="nombre" value="{{ origenes.nombre }}" required>
                <label for="nombre">Nombre</label>
            </div>
            <div class="user-box">
                <input type="text" id="direccion" name="direccion" value="{{ origenes.direccion }}" required>
                <label for="direccion">Dirección</label>
            </div>
            <div class="user-box">
                <input type="text" id="telefono" name="telefono" value="{{ origenes.telefono }}" required>
                <label for="telefono">Teléfono</label>
            </div>
            <a href="#" onclick="this.closest('form').submit(); return false;">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Actualizar
            </a>
        </form>
    </div>
</body>
</html>
