<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <title>Bejarano´s transport</title>
</head>
<body>
    <div class="head">

    <div class="logo">
        <a href="#">Logo</a>
    </div>
     
    <nav class="navbar">    
        <a href="#">Inicio</a>
        <a href="#">Nosotros</a>
        <a href="#">Contacto</a>
        <a href="#">Productos</a>
        <a href="#">Precio</a>
    </nav>  
    </div>
        <header class="content header">
            <h2 class="title">Inicio</h2>
            <p>
                ola
            </p>
            <div class="btn-home">
                <p>Agregar:</p>
                <br>
                <a href="Conductores/index.html" class="btn">Conductores</a>
                <a href="Vehiculos/index.html" class="btn">Vehiculos</a>
                <a href="TMercancias/index.html" class="btn">Tipos de Mercancias</a>
                <a href="Mercancias/index.html" class="btn">Mercancias</a>
                <a href="Origenes/index.html" class="btn">Origenes</a>
                <a href="Destinos/index.html" class="btn">Destinos</a>
                <a href="Clientes/index.html" class="btn">Clientes</a>
                <a href="Ordenes/index.html" class="btn">Ordenes</a>
            </div>
        </header>

        <section class="content sau">
            <h2 class="title">Servicios</h2>
            <div class="box-container">
                <div class="box">
                    <i class="fab fa-angular"></i>
                    <h3> Nivel Nacional</h3>
                    <p>Servicio de tarnsporte de mercancias a nivel nacional, cualquier tipo de mercancia no viva.</p>

                </div>
                <div class="box">
                    <i class="fab fa-angular"></i>
                    <h3> Acarreos </h3>
                    <p>Servicio de transporte de mercancias a nivel municipal o intermumnicipal, cualquier tipo de mercancia no viva.</p>

                </div>
                    
            </div>
        </section>

        <section class="content about">
            <h2 class="title">Nosotros</h2>
            <p>Somos una empresa dedicada al transporte de mercancias no vivas a nivel nacional.</p>
            <a href="#" class="btn">saber mas</a>
        </section>

        <section class="content price">
            <article class="contain">
                <h2 class="title">Precio</h2>
                <p>o</p>
                <a href="#" class="btn">Saber precio</a>

            </article>
        </section>
        <section class="content contact">
            <h2 class="title">Contacto</h2>
            <p>ejemplo@gmail.com</p>
            <p>3213230655</p>
            <figure class="map">
                <img src="https://static.wixstatic.com/media/e85afd_3029c46a91a840ff87774fe0242e6411~mv2_d_2000_2727_s_2.png/v1/fill/w_358,h_488,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/e85afd_3029c46a91a840ff87774fe0242e6411~mv2_d_2000_2727_s_2.png"  height="220px" width="100%">
            </figure>
        </section>


</body>
</html>