<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style9.css') }}">

    <h1>Lista de Mercancias</h1>
    <div class="user-box">
        <input type="text" id="searchInput" placeholder="Buscar por nombre" />
        <table id="userTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for mercancias in data %}
                    <tr>
                        <td>{{ mercancias.id }}</td>
                        <td>{{ mercancias.nombre }}</td>
                        <td>{{ mercancias.direccion }}</td>
                        <td>{{ mercancias.telefono }}</td>
                        <td>
                            <a href="{{ url_for('mercancias.edit', id=mercancias.id) }}">
                                <button class="a2">Editar</button>
                            </a>
                            <br>
                            <a href="{{ url_for('mercancias.delete', id=mercancias.id) }}">
                                <button>Eliminar</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('mercancias.add') }}">
            <button class="a2">Agregar</button>
        </a>
        <a href="{{ url_for('auth.login') }}">
            <button class="a2">Regresar</button>
        </a>
    </div>
    <script>
        // Funcionalidad de búsqueda
        document.getElementById('searchInput').addEventListener('keyup', function() {
            const searchValue = this.value.toLowerCase();
            const rows = document.querySelectorAll('#userTable tbody tr');
            rows.forEach(row => {
                const userName = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
                row.style.display = userName.includes(searchValue) ? '' : 'none';
            });
        });

    </script>
</body>
</html>
